<div class="container mx-auto">
    <div class="flex justify-center">
      <div class="w-full max-w-md">
        <div class="text-black text-center">
          <div class="mb-4">
            <p class="text-lg font-semibold">
              Book Ticket
            </p>
          </div>
          <div class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4">
            <form>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="fromStation">
                  From Station
                </label>
                <select name="fromStation" id="fromStation" class="form-select">
                  <option value="">From Station</option>
                  <option value="Pune">Pune</option>
                  <option value="Nagpur">Nagpur</option>
                  <option value="Mumbai">Mumbai</option>
                </select>
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="toStation">
                  To Station
                </label>
                <select name="toStation" id="toStation" class="form-select">
                  <option value="">To Station</option>
                  <option value="Pune">Pune</option>
                  <option value="Nagpur">Nagpur</option>
                  <option value="Mumbai">Mumbai</option>
                </select>
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="dateOfTravel">
                  Date Of Travel
                </label>
                <input type="date" id="dateOfTravel" class="form-input">
              </div>
              <div>
                <button type="button" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  Search
                </button>
              </div>
            </form>
          </div>
          <div class="mt-4">
            <img src="assets/banner-2.png" class="w-full" alt="Sample image">
          </div>
        </div>
      </div>
    </div>
  </div>
  